:root {
    --primary: #072AC8;
    --accent: #43D2FF;
    --primaryHover: #A2D6F9;
    --primaryTapped: D1EDFF;
    --neutralDark: #292E47;
    --neutralMedium: #6B708D;
    --neutralLight: #F2F4FC;
    --neutralLightBlue: #ECF7FF;
    --secondary: #FFC600;
}